In [58]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [59]:
df=pd.read_csv("spotify_millsongdata.csv")

In [60]:
df.head()

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [61]:
df.tail()

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [62]:
df.shape

(57650, 4)

In [63]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [64]:
df=df.drop(columns='link')
df.head()

,artist,song,text
0,ABBA,Ahe's My Kind Of Girl,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante","Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,Making somebody happy is a question of give an...

In [65]:
df.duplicated().sum()

0

In [66]:
df[df.duplicated(subset=['song'])]

,artist,song,text
503,Alice Cooper,I Miss You,Touched by thoughts \r\nAs cold as ice \r\nL...
505,Alice Cooper,I'm Alive,I was just kicking down the street \r\nAnd th...
535,Alice In Chains,Sunshine,"One, a-one time, yeah \r\n \r\nAm I too cont..."
614,Alphaville,Headlines,We call ourselves the crown of creation \r\nI...
659,America,Goodbye,"Goodbye, Mrs. Sorrow \r\nHope you're feeling ..."
...,...,...,...
57645,Ziggy Marley,Good Old Days,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,come in \r\nmake yourself at home \r\ni'm a ...

In [67]:
df[df['song']=='I Miss You']

,artist,song,text
138,Adele,I Miss You,[Verse 1] \r\nI want every single piece of yo...
503,Alice Cooper,I Miss You,Touched by thoughts \r\nAs cold as ice \r\nL...
6143,Fleetwood Mac,I Miss You,When I think about you \r\nI think about how ...
13119,Miley Cyrus,I Miss You,"Sha la la la la, sha la la la la \r\nYou used..."
36672,Incubus,I Miss You,To see you when I wake up \r\nIs a gift I did...

In [68]:
df[df.duplicated(subset=['artist','song'])]

,artist,song,text
39082,Judy Garland,Look For The Silver Lining,"As I wash my dishes, I'll be following a plan ..."
52998,The Weeknd,Can't Feel My Face,[Verse 1] \r\nAnd I know she'll be the death ...

In [69]:
df[(df['artist']=='judy garland') & (df['song']=='Look For The Silver Lining')]

Empty DataFrame
Columns: [artist, song, text]
Index: []

In [70]:
df.loc[39081,'text']

"As I wash my dishes, I'll be following a plan  \r\nTill I see the brightness in every pot and pan  \r\nI am sure this point of view will ease the daily grind  \r\nSo I'll keep repeating in my mind  \r\nLook for the silver lining  \r\nWhenever a cloud appears in the blue  \r\nRemember somewhere the sun is shining  \r\nAnd so the right thing to do is make it shine for you  \r\nA heart full of joy and gladness  \r\nWill always banish sadness and strife  \r\nSo always look for the silver lining  \r\nAnd try to find the sunny side of life  \r\nSo always look for the silver lining  \r\nAnd try to find the sunny side of life  \r\n\r\n"

In [71]:
df.loc[39082,'text']

"As I wash my dishes, I'll be following a plan  \r\nTill I see the brightness in every pot and pan  \r\nI am sure this point of view will ease the daily grind  \r\nSo I'll keep repeating in my mind  \r\n  \r\nLook for the silver lining  \r\nWhenever a cloud appears in the blue  \r\nRemember somewhere the sun is shining  \r\nAnd so the right thing to do is make it shine for you  \r\n  \r\nA heart full of joy and gladness  \r\nWill always banish sadness and strife  \r\nSo always look for the silver lining  \r\nAnd try to find the sunny side of life  \r\n  \r\nSo always look for the silver lining  \r\nAnd try to find the sunny side of life\r\n\r\n"

In [72]:
df=df.drop_duplicates(subset=['artist','song'])

In [73]:
df=df.sample(5000)

In [74]:
df=df.reset_index(drop=True)

In [75]:
temp=df.copy()

In [76]:
### Preprocessing/Cleaning of the data

In [77]:
temp['text']=temp['text'].str.strip().str.lower().str.replace(r"\s+", " ",regex=True).str.replace(r"\\[rn\\t]",'',regex=True)

In [78]:
contr={"i'm": 'i am',
 "i've": 'i have',
 "i'll": 'i will',
 "i'd": 'i would',
 "you're": 'you are',
 "you've": 'you have',
 "you'll": 'you will',
 "you'd": 'you would',
 "he's": 'he is',
 "he've": 'he has',
 "he'll": 'he will',
 "he'd": 'he would',
 "she's": 'she is',
 "she've": 'she has',
 "she'll": 'she will',
 "she'd": 'she would',
 "it's": 'it is',
 "it've": 'it has',
 "it'll": 'it will',
 "we're": 'we are',
 "we've": 'we have',
 "we'll": 'we will',
 "we'd": 'we would',
 "they're": 'they are',
 "they've": 'they have',
 "they'll": 'they will',
 "they'd": 'they would',
 "ain't": 'are not',
 "amn't": 'am not',
 "isn't": 'is not',
 "hasn't": 'has not',
 "haven't": 'have not',
 "can't": 'cannot',
 "couldn't": 'could not',
 "wouldn't": 'would not',
 "shan't": 'shall not',
 "shouldn't": 'should not',
 "hadn't": 'had not',
 "don't": 'do not',
 "doesn't": 'does not',
 "didn't": 'did not',
 "what's": 'what is',
 "where's": 'where is',
 "who's": 'who is',
 "that's": 'that is',
 "here's": 'here is',
 "let's": 'let us',
 "going'": 'going to',
 "having'": 'having to',
 "trying'": 'trying to',
 "wanting'": 'wanting to',
 'gotta': 'have to',
 'gonna': 'going to',
 'wanna': 'want to',
 'shoulda': 'should have',
 'coulda': 'could have',
 'woulda': 'would have',
 "might've": 'might have',
 "o'": 'of',
 "'em": 'them',
 "'emselves": 'themselves',
 "'cause": 'because'}

import re
def expand_abbr(data):
  for word in data.split(" "):
    for key,value in contr.items():
      data=re.sub(key,value,data)
  return data

In [79]:
temp['text']=temp['text'].apply(expand_abbr)

In [80]:
#removing punctuations
temp['text']=temp['text'].str.replace(r"[^\w\s]","",regex=True)

In [81]:
temp['text'].iloc[0]

'so she said what is the problem baby what is the problem i do not know well maybe i am in love love think about it every time i think about it cannot stop thinking bout it how much longer will it take to cure this just to cure it cause i cannot ignore it if it is love love makes me want to turn around and face me but i do not know nothing bout love come on come on turn a little faster come on come on the world will follow after come on come on because everybodys after love so i said i am a snowball running running down into the spring that is coming all this love melting under blue skies belting out sunlight shimmering love well baby i surrender to the strawberry ice cream never ever end of all this love well i did not mean to do it but there is no escaping your love these lines of lightning mean we are never alone never alone no no come on come on move a little closer come on come on i want to hear you whisper come on come on settle down inside my love come on come on jump a little higher come on come on if you feel a little lighter come on come on we were once upon a time in love we are accidentally in love accidentally in love accidentally in love accidentally in love accidentally in love accidentally in love accidentally in love accidentally in love accidentally i am in love i am in love i am in love i am in love i am in love i am in love accidentally i am in love i am in love i am in love i am in love i am in love i am in love accidentally come on come on spin a little tighter come on come on and the worlds a little brighter come on come on just get yourself inside her love i am in love'

In [82]:
temp['artist']=temp['artist'].str.strip().str.lower().str.replace(r"[^\w\s]","",regex=True).str.replace(" ","")

In [83]:
temp['song']=temp['song'].str.strip().str.lower().str.replace(r"[^\w\s]","",regex=True)

In [84]:
temp['combined']=temp['artist']+" "+temp['song']+" "+temp['text']

In [85]:
import nltk
# nltk.download('stopwords')
from nltk.corpus import stopwords
stop_word=stopwords.words('english')

In [86]:
temp['combined']=temp['combined'].str.lower()

In [87]:
def remove_stopword(text):
  l=[]
  for i in text.split(" "):
    if i not in stop_word:
      l.append(i)
    
  return " ".join(l)

In [88]:
temp['combined']=temp['combined'].apply(remove_stopword)

In [89]:
from nltk.stem.porter import PorterStemmer

In [90]:
stemmer = PorterStemmer()

In [91]:
def stem(txt):
  l=[]
  for i in txt.split(" "):
    l.append(stemmer.stem(i))
  return " ".join(l)

In [92]:
temp['combined']=temp['combined'].apply(stem)

In [93]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [94]:
tfid=TfidfVectorizer(analyzer='word',max_features = 10000,stop_words='english')

In [95]:
tfv_matrix=tfid.fit_transform(temp["combined"])

In [96]:
tfv_matrix.toarray().shape

(5000, 10000)

In [97]:
cosine_sim = cosine_similarity(tfv_matrix)

In [100]:
def recommended_songs(song_user_likes):
    song_index = temp[temp.song == song_user_likes].index[0]
    similar_song_sorted=sorted(list(enumerate(cosine_sim[song_index])),reverse=True,key=lambda x:x[1])[1:11]
    
    for song in similar_song_sorted:
        similar_songs = df[df.index == song[0]]["song"].values[0]
        print(similar_songs)

In [103]:
recommended_songs('accidentally in love')

Come Back To Me
I Love All Of Me
I Love, You Love
For Your Love
Here Comes My Baby
Love Song
Love Me
Love Alone
Love To Be Loved
Did I Ever Tell You